<body>
    <h1>New!!</h1>
    <form method="POST" enctype="multipart/form-data">
        {%csrf_token%}
        <table>
            {{form.as_p}}
        </table>
        <input class="btn btn-dark" type="submit" value="저장">
        <hr>
    </form>
    {% if messages %}
    <ul class="messages">
        {% for message in messages%}
        <li id="message_{{ forloop.counter }}" {% if message.tags %} class="{{ message.tags}}" {% endif %}>
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</body>